h1 {
	color: blue;
	text-align: center;
    font-size: 68px;
}


h2 {
	text-align: center;
	font-size: 32px;
}


#books {
	background-color: yellow;
	padding: 16px;
}

img {
	width: 100%;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover {
	opacity: .5;
}
